@import "units.scss";

@mixin round-corners-options {
  .round-corners {
    @extend .round-corners-fib-5;
  }

  @each $it, $value in $fib {
    .round-corners-fib-#{$it} {
      border-radius: ($value * 1px);

      &.left-only {
        border-radius: ($value * 1px) 0 0 ($value * 1px);
        border-right: none !important;
      }

      &.right-only {
        border-radius: 0 ($value * 1px) ($value * 1px) 0;
        border-left: none !important;
      }

      &.top-only {
        border-radius: ($value * 1px) ($value * 1px) 0 0;
        border-bottom: none !important;
      }

      &.bottom-only {
        border-radius: 0 0 ($value * 1px) ($value * 1px);
        border-top: none !important;
      }
    }
  }
}

@mixin fade-options {
  $slower-fade: $fib-7 * 0.01s ease-in-out !global;
  .slower-fade {
    @extend .fade-fib-7;
  }

  $medium-fade: $fib-6 * 0.01s ease-in-out !global;
  .medium-fade {
    @extend .fade-fib-6;
  }

  $faster-fade: $fib-5 * 0.01s ease-in-out !global;
  .faster-fade {
    @extend .fade-fib-5;
  }

  @each $it, $value in $fib {
    .fade-fib-#{$it} {
      transition-duration: $value * 0.01s;
      transition-timing-function: ease-in-out;
    }
  }
}

@include round-corners-options;
@include fade-options;

.shadow-box {
  $shift: $fib-1 * 1px;
  $blur: $fib-5 * 1px;
  $opacity: $fib-3 * 0.1;

  -webkit-box-shadow: 0px $shift $blur 0px rgba(0, 0, 0, $opacity) !important;
  -moz-box-shadow: 0px $shift $blur 0px rgba(0, 0, 0, $opacity) !important;
  box-shadow: 0px $shift $blur 0px rgba(0, 0, 0, $opacity) !important;
}

a {
  color: var(--color-accent);

  &:not(:hover) {
    text-decoration: none;
  }
}
