@import "units.scss";
@import "methods.scss";

$font-sizes: (
    small: $fib-5 * 1px,
    regular: $fib-6 * 1px,
    big: $fib-7 * 1px,
    heavy: $fib-8 * 1px,
    giant: $fib-9 * 1px,
);

@function get-font-size($size: regular) {
    @return map-get($font-sizes, $size);
}

@function golden-ratio($size, $opt: asc) {
    @if $opt == asc or $opt != asc and $opt != des {
        @return $size * (1 + sqrt(5)) / 2;
    } @else {
        @return 2 * $size / (1 + sqrt(5));
    }
}