.theme-light {
    --color-accent: #816fbe;
    --color-background-primary: #F4F6F7;
    --color-background-secondary: #E9ECEF;
    --color-background-tertiary: #DEE2E6;
    --color-background-disabled: #CED4DA;
    --color-green: #6AB889;
    --color-red: #E3757F;
    --color-text: #111315;
    --color-secondary-text: #495057;
    --color-text-disabled: #ADB5BD;
    --color-button: #F4F6F7;
    --color-scrollbar: #CED4DA;
    --color-scrollbar-hover: #BEC5CC;
}

.theme-dark {
    --color-accent: #A293CB;
    --color-background-primary: #212529;
    --color-background-secondary: #191C1F;
    --color-background-tertiary: #111315;
    --color-background-disabled: #343A40;
    --color-green: #6AB889;
    --color-red: #E3757F;
    --color-text: #CED4DA;
    --color-secondary-text: #ADB5BD;
    --color-text-disabled: #495057;
    --color-button: #495057;
    --color-scrollbar: #495057;
    --color-scrollbar-hover: #6C757D;
}