.common-palette {
  --color-accent: #816fbe;
  --color-green: #6ab889;
  --color-red: #d0666f;
  --color-yellow: #c19867;
  --color-white: #f8f9fa;
}

.theme-light {
  // master palette: https://coolors.co/ffe6d9-ffdac6-ffcdb2-ffb4a2-e5989b-b5838d-6d6875-474747-323232-1c1c1c
  // notation: from left (0) to right (9)

  @extend .common-palette;

  // tone corrections
  --color-accent: #8c78cf;
  --color-green: #6ed095;
  --color-red: #df6b74;
  --color-yellow: #e0b683;

  --color-bg-primary: #ffe6d9; // 0
  --color-bg-secondary: #ffdac6; // 1
  --color-bg-disabled: #ffcdb2; // 2
  --color-bg-highlight: #e5989b; // 4

  --color-text-primary: #1c1c1c; // 9
  --color-text-secondary: #474747; // 7
  --color-text-disabled: #6d6875; // 6

  --color-button: #ffe6d9; // 0
  --color-button-hover: #ffdac6; // 1
  --color-button-active: #ffdac6; // 1
  --color-button-disabled: #ffe6d9; // 0

  --color-border: #ffc1aa; // 3
  --color-border-hover: #e5989b; // 4
  --color-border-active: #e5989b; // 4
  --color-border-disabled: #ffcdb2; // 2

  --color-scrollbar: #ffc1aa; // 3
  --color-scrollbar-hover: #e5989b; // 4
}

.theme-dark {
  // master palette: https://coolors.co/dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529-1b1e21-15181a-0f1113
  // notation: from right (0) to left (9)

  @extend .common-palette;

  --color-bg-primary: #15181a; // 1
  --color-bg-secondary: #0f1113; // 0
  --color-bg-disabled: #1b1e21; // 2
  --color-bg-highlight: #343a40; // 4

  --color-text-primary: #dee2e6; // 9
  --color-text-secondary: #adb5bd; // 7
  --color-text-disabled: #495057; // 5

  --color-button: #15181a; // 1
  --color-button-hover: #212529; // 3
  --color-button-active: #212529; // 3
  --color-button-disabled: #15181a; // 1

  --color-border: #343a40; // 4
  --color-border-hover: #495057; // 5
  --color-border-active: #495057; // 5
  --color-border-disabled: #212529; // 3

  --color-scrollbar: #343a40; // 4
  --color-scrollbar-hover: #495057; // 5
}
