.theme-light {
    --color-accent: #7461B3;
    --color-background-primary: #F8F9FA;
    --color-background-secondary: #E9ECEF;
    --color-background-disabled: #DEE2E6;
    --color-green: #6AB889;
    --color-red: #E3757F;
    --color-text: #111315;
    --color-secondary-text: #495057;
    --color-text-disabled: #ADB5BD;
    --color-button: #FEFEFE;
    --color-scrollbar: #CED4DA;
    --color-scrollbar-hover: #DEE2E6;
}

.theme-dark {
    --color-accent: #A293CB;
    --color-background-primary: #212529;
    --color-background-secondary: #191C1F;
    --color-background-disabled: #343A40;
    --color-green: #6AB889;
    --color-red: #E3757F;
    --color-text: #CED4DA;
    --color-secondary-text: #ADB5BD;
    --color-text-disabled: #495057;
    --color-button: #495057;
    --color-scrollbar: #495057;
    --color-scrollbar-hover: #6C757D;
}