$BYTE_MAX: 255; // 0xff
$FIB_RATIO: 1.61803399;

                // low (l) |    high (h)
$fib-1: 1;      //  0x01   |   0xfe (254)
$fib-2: 2;      //  0x02   |   0xfd (253)
$fib-3: 3;      //  0x03   |   0xfc (252)
$fib-4: 5;      //  0x05   |   0xfa (250)
$fib-5: 8;      //  0x08   |   0xf7 (247)
$fib-6: 13;     //  0x0d   |   0xf2 (242)
$fib-7: 21;     //  0x15   |   0xea (234)
$fib-8: 34;     //  0x22   |   0xdd (221)
$fib-9: 55;     //  0x37   |   0xc8 (200)
$fib-10: 89;    //  0x59   |   0xa6 (166)
$fib-11: 144;   //  0x90   |   0x6f (111)
$fib-12: 233;   //  0xe9   |   0x16 (22)
$fib-13: 377;   //  0x179  |    
$fib-14: 610;   //  0x262  |    
$fib-15: 987;   //  0x3db  |    
$fib-16: 1597;  //  0x63d  |    